{% load static %}

<style>
  .navbar{
      display: flex;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;

  }
  .avatar{
      width: 50px;
  }
  .actions{
      display: flex;
    margin-right: 10px;
  }
  .actions > .parent{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    .logout-button{
      width: 100%;
  }
    .logo{
        height: 100px;
        width: 100px;
    }
    .avatar-container{
        margin-left: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    }
</style>
<div class="navbar" id="navbar">
    <div class="logo">
                <a href='/'>

            <img  src="{% static 'M_Movies.jpeg' %}" alt="logo" class="logo rounded-lg">
        </a>
    </div>
    {% if AUTH != 'false' %}
    <div class="actions">
        <div class="parent">
            <div>
                <form action="{% url 'myApp1:logoutUser' %}" method="post">
                        {% csrf_token %}

                        <button class=' logout-button bg-primary_red text-white md:text-lg rounded-md'>
                            Logout
                        </button>
                </form>
            </div>
            <div>
                                    <a href="{% url 'myApp1:fetchOrderedMovies' %}" class="">
                        <button class="flex items-center bg-white rounded-md"
                                style='color:black;'>
                            <ion-icon name="list-outline" class="text-2xl p-1"></ion-icon>
                            <span class="text-sm p-1">
                                Ordered
                            </span>
                        </button>
                    </a>
            </div>
        </div>

        <a href="{% url 'myApp1:account_settings' %}" style="align-items: center;display: flex;flex-direction: column;">
            <div style="margin-left: 10px;" class="avatar-container">
                <img src="{% static 'profile1.png' %}" class="avatar bg-white rounded-lg " alt="" height="100">
                <p style="text-shadow: 2px 2px 1px #FF0000;text-align: center   ">
                    {{ request.user.username }}
                </p>
            </div>
        </a>

    </div>
    {% endif %}
</div>
