{% extends 'base.html' %}
{% load static %}
{% block title %}
    Movie details
{% endblock title %}

{% block others %}
{% endblock others %}

{% block content %}

    {% include 'partials/navbar.html' %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover"
                 style="background-image: url('https://image.tmdb.org/t/p/w500{{ movie.poster_path }}');">
            <div>
                <h2 class="text_outlined text-6xl font-medium text-white my-4">
                    {{ movie.title }}
                </h2>
                <h2 class="text_outlined_small px-1 w-11/12 md:w-5/12">
                    {{ movie.tagline | slice:100 }}
                </h2>
                <div class="flex my-4">
                    <!--https://www.themoviedb.org/movie/496243/watch-->
                    {% if movie_added %}
                        <div class="p-2">
                            <div disabled class="flex items-center bg-gray-400 py-2 px-5 rounded-md"
                                 style='color:black;'>
                                <ion-icon name="checkmark-circle-outline" class="text-2xl"></ion-icon>
                                <span class="ml-3 font-medium">
                                Ordered
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'myApp1:orderMovie' movie_id=movie.id %}"
                           class="p-2">
                            <button class="flex items-center bg-white py-2 px-5 rounded-md"
                                    style='color:black;'>
                                <ion-icon name="add-circle-outline" class="text-2xl"></ion-icon>
                                <span class="ml-3 font-medium">
                                Order
                            </span>
                            </button>
                        </a>
                    {% endif %}
                    <a href='https://www.themoviedb.org/movie/{{ movie.id }}/watch'
                       class="p-2">

                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="eye-outline" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium">
                                Watch
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </section>
        <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
            <div class="p-8 w-10/12 relative">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-gray-200 text-3xl font-medium mm-center-des">
                                Description
                            </h2>
                        </div>
                        <div class="col">
                            <div class="height-100 container d-flex justify-content-center align-items-center mm-height-10">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="review-count mm-review-count p-5">
                                        {{ movie.vote_count }} reviews
                                    </div>
                                    <div class="col">
                                        <div class="review-count mm-review-count">
                                            {{ movie.vote_average }} rating
                                        </div>
                                        <div class="ratings mm-ratings flex-col">
                                            {% for star in "*"|rjust:"5" %}
                                                {% if forloop.counter > voting_5_star_scale %}
                                                    <i class="fa fa-star"></i>
                                                {% else %}
                                                    <i class="fa fa-star rating-color mm-rating-color"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center p-8 items-center min-w-full">
                    <p class="text-gray-100 text-lg">
                        {{ movie.overview }}
                    </p>
                </div>
                <p>Released: {{ movie.release_date }}</p>
                <p>Duration: {{ movie.runtime }} minutes</p>
            </div>
        </section>

    </main>

{% endblock content %}

