{% extends 'base.html' %}
{% load static %}
{% block title %}
    Movies
{% endblock title %}

{% block others %}

{% endblock others %}
{% block content %}


    {% include 'partials/navbar.html' %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover"
                 style="background-image: url('https://image.tmdb.org/t/p/w500{{ movie.poster_path }}');">
            <div>
                <h2 class="text_outlined text-6xl font-semibold text-white my-4">
                    {{ movie.title }}
                </h2>
                <p class="text_outlined w-11/12 md:w-5/12 font-medium text-white my-4">
                    {{ movie.overview }}
                </p>
                <div class="flex my-4">
                    <!--https://www.themoviedb.org/movie/496243/watch-->
                    <a href='https://www.themoviedb.org/movie/{{ movie.id }}/watch'>

                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium">
                                Play
                            </span>
                        </button>
                    </a>


                </div>
            </div>
        </section>

        <!--new UI cards-->
        <div class="cards">
            {% for movie in top_rated_movies %}
                <a href="{% url 'myApp1:movieDetail' movie_id=movie.id %}" class="card">
                    <img src="{{ image_prefix }}{{ movie.poster_path }}"
                         class="w-full h-full border-round"
                         alt="{{ movie.title }}">
                    <div class="card__overlay">
                        <div class="card__header">
                            <img class="card__thumb" src="{{ image_prefix }}{{ movie.poster_path }}"
                                 alt="card poster path"/>
                            <div class="card__header-text">
                                <h3 class="card__title card__text_outlined">
                                    {{ movie.title }}
                                </h3>
                                <span class="card__status card__text_outlined">
                                    {{ movie.vote_average }}
                                </span>
                            </div>
                        </div>
                        <p class="card__description">{{ movie.overview | slice:200 }}...</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <!--popular_movies-->
        <div class="text-gray-200 text-2xl p-8">Popular</div>
        <section class='bg-primary_black px-5 flex-shrink-0 justify-center' style="overflow-x: scroll">
            <div class="px-5 w-10/12 relative">
                <div class="flex items-center min-w-full">
                    {% for movie in popular_movies %}

                        <a href="{% url 'myApp1:movieDetail' movie_id=movie.id %}">

                            <div class=" h-40 m-4  bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                                <img src="{{ image_prefix }}{{ movie.poster_path }}" class="w-full h-full "
                                     alt="{{ movie.title }}">
                            </div>
                            <div class="m-4  overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                                <h5>{{ movie.title }} </h5>
                            </div>


                        </a>
                    {% endfor %}


                </div>
            </div>
        </section>
        <!--upcoming_movies-->
        <div class="text-gray-200 text-2xl p-8">Upcoming</div>
        <section class='bg-primary_black px-5 flex-shrink-0 justify-center' style="overflow-x: scroll">
            <div class="px-5 w-10/12 relative">
                <div class="flex   items-center min-w-full  movie_lis">
                    {% for movie in upcoming_movies %}

                        <a href="{% url 'myApp1:movieDetail' movie_id=movie.id %}">

                            <div class=" h-40 m-4  bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                                <img src="{{ image_prefix }}{{ movie.poster_path }}" class="w-full h-full "
                                     alt="{{ movie.title }}">
                            </div>
                            <div class="m-4  overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                                <h5>{{ movie.title }} </h5>
                            </div>


                        </a>
                    {% endfor %}


                </div>
            </div>
        </section>
        <!--top_rated_movies-->
        <div class="text-gray-200 text-2xl p-8">Top rated</div>
        <section class='bg-primary_black px-5 flex-shrink-0 justify-center' style="overflow-x: scroll">
            <div class="px-5 w-10/12 relative">
                <div class="flex   items-center min-w-full">
                    {% for movie in top_rated_movies %}

                        <a href="{% url 'myApp1:movieDetail' movie_id=movie.id %}">

                            <div class=" h-40 m-4  bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                                <img src="{{ image_prefix }}{{ movie.poster_path }}" class="w-full h-full "
                                     alt="{{ movie.title }}">
                            </div>
                            <div class="m-4  overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                                {{ movie.title }}
                            </div>


                        </a>
                    {% endfor %}


                </div>
            </div>
        </section>

    </main>

{% endblock content %}
